@mixin myFlex() {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; 
}

@mixin myFlexCentered() {
    align-items: center;
    justify-content: center;
}