@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  max-width: 100%; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

body {
  background: #fff;
  margin: 0;
  overflow-x: hidden; }

a {
  transition: all 0.2s linear; }

iframe,
img {
  max-width: 100%; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

#content {
  margin: 0 5%;
  width: 90%; }
  #content.full-width {
    margin: 0;
    width: 100%; }
  #content h1 {
    font-weight: 400;
    font-size: 1.8em;
    margin: 40px 0 15px; }
  #content h2 {
    font-weight: 400;
    font-size: 1.4em;
    margin: 20px 0 15px; }
  #content p {
    font-size: 1em;
    line-height: 1.5;
    margin: 5px 0; }
  #content code {
    background: #efefef;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    display: inline-block;
    font-weight: 600;
    padding: 3px; }
  #content pre {
    background: #efefef;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    line-height: 1.5;
    padding: 15px; }

#globalheader {
  background: #27ae60; }
  #globalheader .row {
    display: block;
    padding: 0 5%; }
    #globalheader .row::after {
      clear: both;
      content: "";
      display: table; }
  #globalheader h1 {
    color: #fff;
    display: inline-block;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 20px 0;
    text-transform: uppercase; }
    #globalheader h1 a {
      color: inherit;
      text-decoration: none; }
    #globalheader h1 .sub:before {
      content: '\25BA';
      font-size: .5em;
      display: inline-block;
      padding: 5px 10px 0 7px;
      vertical-align: top; }
  #globalheader .settings {
    background: transparent;
    border: 0;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-size: .8em;
    font-weight: 600;
    margin-top: 15px;
    padding: 5px 15px;
    text-transform: uppercase; }
    #globalheader .settings:hover {
      background: rgba(0, 0, 0, 0.2); }
  #globalheader .navigation {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    #globalheader .navigation ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    #globalheader .navigation li {
      display: inline-block;
      margin-right: 25px; }
    #globalheader .navigation a {
      border-bottom: 4px solid transparent;
      color: #fff;
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-size: .9em;
      font-weight: 600;
      padding: 25px 0;
      text-decoration: none;
      text-transform: uppercase; }
      #globalheader .navigation a:hover {
        border-bottom-color: rgba(0, 0, 0, 0.2); }

.form .breakpoints input[type='number'] {
  padding: 10px;
  width: 110px; }

.form .breakpoints .unit {
  display: inline-block;
  font-size: .8em;
  font-weight: 600;
  padding: 0 5px; }

.form .breakpoints .dash {
  display: inline-block;
  padding: 0 10px 0 5px; }

.form .breakpoints-form {
  margin-bottom: 5px; }

.form .breakpoints-add.button {
  font-size: .8em; }

.form .breakpoints-list {
  margin-bottom: 15px; }

.form .breakpoints .remove {
  background: transparent;
  border: 0;
  font-size: 1.4em;
  font-weight: 600;
  margin-right: 10px;
  padding: 0 5px;
  vertical-align: baseline; }
  .form .breakpoints .remove:hover {
    color: #e31e24; }

.data {
  border-collapse: collapse;
  margin: 30px 0;
  width: 100%; }
  .data td,
  .data th {
    border: 1px solid #dbdbdb;
    font-size: .9em;
    padding: 10px;
    text-align: left; }
  .data th {
    border-bottom-width: 2px;
    font-size: .7em;
    text-transform: uppercase; }
  .data .index {
    width: 60px; }
  .data .data {
    width: 240px; }
  .data .config {
    width: 240px; }
  .data .url {
    display: block;
    font-size: .9em; }
  .data .actions {
    width: 320px; }
  .data ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .data ul li {
      margin-bottom: 3px; }
  .data .actions {
    line-height: 1.5; }
    .data .actions form {
      display: inline; }
    .data .actions a,
    .data .actions button {
      background: #efefef;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      color: #000;
      display: inline-block;
      margin-bottom: 3px;
      padding: 2px 8px;
      text-decoration: none; }
      .data .actions a:hover,
      .data .actions button:hover {
        background: #27ae60;
        border-color: #27ae60;
        color: #fff; }
      .data .actions a.danger,
      .data .actions button.danger {
        background: rgba(231, 76, 60, 0.4);
        border: 1px solid #E74C3C; }
        .data .actions a.danger:hover,
        .data .actions button.danger:hover {
          background: #E74C3C;
          border-color: #E74C3C; }

#fields {
  margin-bottom: 40px; }
  #fields .fields-form {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    margin-top: 30px; }
  #fields .fields-header {
    background: #efefef;
    display: table;
    width: 100%; }
    #fields .fields-header > div {
      display: table-cell;
      padding: 20px;
      vertical-align: middle; }
    #fields .fields-header-name {
      width: 45%; }
    #fields .fields-header h2 {
      color: #777;
      font-size: .8em;
      font-weight: 600;
      margin: 0 !important;
      padding: 0;
      text-transform: uppercase; }
    #fields .fields-header p {
      font-size: 1.2em;
      margin: 0; }
  #fields .fields-single {
    display: table;
    width: 100%; }
    #fields .fields-single > div {
      border-top: 1px solid #e7e7e7;
      display: table-cell;
      padding: 20px; }
    #fields .fields-single-name {
      width: 30%; }
    #fields .fields-single-label {
      width: 30%; }
    #fields .fields-single-data {
      width: 30%; }
    #fields .fields-single-histogram {
      padding: 20px 10px;
      text-align: right;
      vertical-align: middle;
      width: 16%; }
    #fields .fields-single h3 {
      color: #777;
      font-size: .7em;
      font-weight: 600;
      margin: 0 !important;
      padding: 0;
      text-transform: uppercase; }
    #fields .fields-single p {
      font-size: 1.2em;
      margin: 5px 0 0; }
    #fields .fields-single ul {
      list-style: none;
      margin: 5px 0 0;
      padding: 0; }
    #fields .fields-single li {
      font-size: .8em;
      font-weight: 600;
      margin-bottom: 5px;
      text-transform: uppercase; }
      #fields .fields-single li.red {
        color: #c0392b; }
    #fields .fields-single .label {
      display: inline-block;
      width: 100px; }
    #fields .fields-single .unit {
      text-transform: none; }
  #fields .fields-histogram-show {
    background: #efefef;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #000;
    display: inline-block;
    font-size: .9em;
    margin-bottom: 3px;
    padding: 5px 15px;
    text-decoration: none;
    transition: all 0.2s linear; }
    #fields .fields-histogram-show:hover {
      background: #27ae60;
      border-color: #27ae60;
      color: #fff; }

.filters {
  background: #efefef;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 5%; }
  .filters .filter {
    border-right: 1px solid #e0e0e0;
    display: inline-block;
    padding: 20px; }
  .filters .label {
    display: block;
    font-size: .8em;
    font-weight: 600;
    margin-bottom: 3px; }
  .filters input,
  .filters select,
  .filters textarea {
    border: 1px solid #e0e0e0;
    font-size: .9em;
    padding: 10px; }
    .filters input.tiny,
    .filters select.tiny,
    .filters textarea.tiny {
      width: 80px; }
    .filters input.small,
    .filters select.small,
    .filters textarea.small {
      width: 130px; }
  .filters input[type='submit'] {
    background: #27ae60;
    border-color: #27ae60;
    color: #fff;
    font-weight: 600;
    transition: all 0.2s linear; }
    .filters input[type='submit']:hover {
      background: #145b32;
      border-color: #145b32; }

.form .field {
  margin: 5px 0 20px; }
  .form .field.hidden {
    display: none; }
  .form .field.separated {
    border-top: 1px solid #dbdbdb;
    margin-top: 25px;
    padding-top: 25px; }
  .form .field.centered {
    text-align: center; }

.form label {
  display: block;
  font-weight: 600;
  font-size: .8em;
  margin-bottom: 5px;
  text-transform: uppercase; }

.form input[type="color"], .form input[type="date"], .form input[type="datetime"], .form input[type="datetime-local"], .form input[type="email"], .form input[type="month"], .form input[type="number"], .form input[type="password"], .form input[type="search"], .form input[type="tel"], .form input[type="text"], .form input[type="time"], .form input[type="url"], .form input[type="week"], .form input:not([type]), .form textarea,
.form select {
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 15px 20px;
  width: 100%; }

.form input[type="color"]:focus, .form input[type="date"]:focus, .form input[type="datetime"]:focus, .form input[type="datetime-local"]:focus, .form input[type="email"]:focus, .form input[type="month"]:focus, .form input[type="number"]:focus, .form input[type="password"]:focus, .form input[type="search"]:focus, .form input[type="tel"]:focus, .form input[type="text"]:focus, .form input[type="time"]:focus, .form input[type="url"]:focus, .form input[type="week"]:focus, .form input:not([type]):focus, .form textarea:focus,
.form select:focus {
  border-color: #27ae60;
  box-shadow: 0 0 3px rgba(39, 174, 96, 0.75);
  outline: 0; }

.form input[type='submit'],
.form .button {
  background: #27ae60;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.2s linear; }
  .form input[type='submit']:hover,
  .form .button:hover {
    background: #1e8449; }

#histogram-wrapper {
  background: rgba(0, 0, 0, 0.2);
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%; }
  #histogram-wrapper.hidden {
    display: none; }

.histogram-wrapper-inside {
  display: table-cell;
  vertical-align: middle; }

#histogram {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 100%; }
  #histogram .grid {
    stroke: #ccc;
    stroke-width: 1; }
  #histogram .bars {
    display: inline-block;
    position: relative; }
    #histogram .bars rect {
      fill: #27ae60;
      transition: all 0.2s linear; }
      #histogram .bars rect:hover {
        fill: #1e8449; }
  #histogram .labels .label {
    fill: #777;
    font-size: .8em;
    font-weight: 600;
    text-transform: uppercase; }
  #histogram .labels-x .label {
    text-anchor: middle; }
  #histogram .labels-y .label {
    text-anchor: end; }

.map {
  overflow-x: auto;
  position: relative;
  text-align: center;
  width: 100%; }
  .map img {
    max-width: none; }
  .map canvas {
    opacity: .75;
    left: 50%;
    position: absolute;
    top: 0; }
    .map canvas.hidden {
      display: none; }
  .map .loading {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
    .map .loading-text {
      color: #fff;
      font-weight: 600;
      margin: 0;
      padding-top: 70px;
      text-align: center; }
    .map .loading.hidden {
      display: none; }

#session {
  background: #efefef; }
  #session .container {
    display: table;
    min-height: 100vh;
    max-width: 400px;
    margin: 0 auto;
    width: 100%; }
  #session .inside {
    display: table-cell;
    padding: 20px 0;
    vertical-align: middle; }
  #session #content {
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 30px; }
  #session h2 {
    margin: 0 0 20px;
    text-align: center; }
  #session input[type="color"], #session input[type="date"], #session input[type="datetime"], #session input[type="datetime-local"], #session input[type="email"], #session input[type="month"], #session input[type="number"], #session input[type="password"], #session input[type="search"], #session input[type="tel"], #session input[type="text"], #session input[type="time"], #session input[type="url"], #session input[type="week"], #session input:not([type]), #session textarea,
  #session select {
    font-size: .9em;
    padding: 10px 15px; }
  #session .help {
    border-top: 1px solid #dbdbdb;
    list-style: none;
    margin: 30px 0 0;
    padding: 30px 0 0; }
    #session .help li {
      font-size: .9em;
      margin-bottom: 3px; }
    #session .help a {
      color: #27ae60;
      font-weight: 600;
      text-decoration: none; }
      #session .help a:hover {
        text-decoration: underline; }
