/// Fonts' families

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext);

$content-font: 'Open Sans', sans-serif;
$headers-font: $content-font;

/// Images URL

$base_url:  '/';


/// Fonts' sizes

$font-size: 1em;


/// Fonts' weights

$regular:   400;
$semibold:  600; 
$bold:      700;
 

/// Colors 

$pink:          #E32668;
$purple:        #922790;
$green:         #115410;
$darkgreen:     #006734;
$blue:          #27C0EE;
$red:           #e31e24;
$lime:          #93cc1e;

$primary-color: #27ae60;
$border-color:  #dbdbdb;

/// Layout

$max-width: 1200px;


/// Responsive breakpoints 

$mobile:    600px;
$tablet:    850px;
$wide:      1100px;
$panoramic: 1400px;
$fullhd:    1930px;
$full:      $max-width + 60px;

$padding:   5%;
