* {
    box-sizing: border-box;
    font-family: $content-font;
}

body {
    background: #fff;
    margin: 0;
    overflow-x: hidden;
}

a {
    @include transition(all .2s linear);
}

iframe,
img {
    max-width: 100%;
}


.container {
    @include outer-container;
}