#content {
    margin: 0 5%;
    width: 90%;

    &.full-width {
        margin: 0;
        width: 100%;
    }

    h1 {
        font-weight: 400;
        font-size: 1.8em;
        margin: 40px 0 15px;
    }

    h2 {
        font-weight: 400;
        font-size: 1.4em;
        margin: 20px 0 15px;
    }

    p {
        font-size: 1em;
        line-height: 1.5;
        margin: 5px 0;
    }

    code {
        background: #efefef;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        display: inline-block;
        font-weight: 600;
        padding: 3px;
    }

    pre {
        background: #efefef;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        line-height: 1.5;
        padding: 15px;
    }


}