#globalheader {
    background: $primary-color;

    .row {
        @include row();
        padding: 0 5%;
    }

    h1 {
        color: #fff;
        display: inline-block;
        font-size: 1em; 
        font-family: $content-font;
        font-weight: $semibold;
        margin: 0;
        padding: 20px 0;
        text-transform: uppercase;

        a {
            color: inherit;
            text-decoration: none;
        }

        .sub {

            &:before {
                content: '\25BA';
                font-size: .5em;
                display: inline-block;
                padding: 5px 10px 0 7px;
                vertical-align: top;
            }
        }
    }

    .settings {
        background: transparent;
        border: 0;
        border-radius: 3px;
        color: #fff;
        float: right;
        font-size: .8em;
        font-weight: $semibold;
        margin-top: 15px;
        padding: 5px 15px;
        text-transform: uppercase;

        &:hover {
            background: rgba(#000, .2);
        }
    }

    .navigation {
        border-top: 1px solid rgba(#000, .1);

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            margin-right: 25px;
        }

        a {
            border-bottom: 4px solid transparent;
            color: #fff;
            display: inline-block;
            font-family: $content-font;
            font-size: .9em;
            font-weight: $semibold;
            padding: 25px 0;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                border-bottom-color: rgba(#000, .2);
            }
        }
    }


    
}