.form {
    .breakpoints {
        input[type='number'] {
            padding: 10px;
            width: 110px;
        }

        .unit {
            display: inline-block;
            font-size: .8em;
            font-weight: 600;
            padding: 0 5px;
        }

        .dash {
            display: inline-block;
            padding: 0 10px 0 5px;
        }

        &-form {
            margin-bottom: 5px;
        }

        &-add.button {
            font-size: .8em;
        }

        &-list {
            margin-bottom: 15px;
        }

        .remove {
            background: transparent;
            border: 0;
            font-size: 1.4em;
            font-weight: 600;
            margin-right: 10px;
            padding: 0 5px;
            vertical-align: baseline;

            &:hover {
                color: $red;
            }
        }
    }
}