.data {
    border-collapse: collapse;
    margin: 30px 0;
    width: 100%;

    td,
    th {
        border: 1px solid $border-color;
        font-size: .9em;
        padding: 10px;
        text-align: left;
    }

    th {
        border-bottom-width: 2px;
        font-size: .7em;
        text-transform: uppercase;
    }

    .index {
        width: 60px;
    }

    .data {
        width: 240px;
    }

    .config {
        width: 240px;
    }

    .url {
        display: block;
        font-size: .9em;
    }

    .actions {
        width: 320px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 3px;
        }
    }

    .actions {
        line-height: 1.5;

        form {
            display: inline;
        }

        a,
        button {
            background: #efefef;
            border: 1px solid #dbdbdb;
            border-radius: 3px;
            color: #000;
            display: inline-block;
            margin-bottom: 3px;
            padding: 2px 8px;
            text-decoration: none;

            &:hover {
                background: $primary-color;
                border-color: $primary-color;
                color: #fff;
            }

            &.danger {
                background: rgba(#E74C3C, .4);
                border: 1px solid #E74C3C;

                &:hover {
                    background: #E74C3C;
                    border-color: #E74C3C;
                }
            }
        }
    }
}