#fields {
    margin-bottom: 40px;

    .fields-form {
        border: 1px solid #e7e7e7;
        border-radius: 4px;
        margin-top: 30px;
    }

    .fields-header {
        background: #efefef;
        display: table;
        width: 100%;

        & > div {
            display: table-cell;
            padding: 20px;
            vertical-align: middle;
        }

        &-name {
            width: 45%;
        }

        h2 {
            color: #777;
            font-size: .8em;
            font-weight: 600;
            margin: 0 !important;
            padding: 0;
            text-transform: uppercase;
        }

        p {
            font-size: 1.2em;
            margin: 0;
        }
    }

    .fields-single {
        display: table;
        width: 100%;

        & > div {
            border-top: 1px solid #e7e7e7;
            display: table-cell;
            padding: 20px;
        }

        &-name {
            width: 30%;
        }

        &-label {
            width: 30%;
        }

        &-data {
            width: 30%;
        }

        &-histogram {
            padding: 20px 10px;
            text-align: right;
            vertical-align: middle;
            width: 16%;
        }

        h3 {
            color: #777;
            font-size: .7em;
            font-weight: 600;
            margin: 0 !important;
            padding: 0;
            text-transform: uppercase;
        }

        p {
            font-size: 1.2em;
            margin: 5px 0 0;
        }

        ul {
            list-style: none;
            margin: 5px 0 0;
            padding: 0;
        }

        li {
            font-size: .8em;
            font-weight: 600;
            margin-bottom: 5px;
            text-transform: uppercase;

            &.red {
                color: #c0392b;
            }
        }

        .label {
            display: inline-block;
            width: 100px;
        }

        .unit {
            text-transform: none;
        }
    }

    .fields-histogram-show {
        background: #efefef;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        color: #000;
        display: inline-block;
        font-size: .9em;
        margin-bottom: 3px;
        padding: 5px 15px;
        text-decoration: none;
        @include transition(all .2s linear);

        &:hover {
            background: $primary-color;
            border-color: $primary-color;
            color: #fff;
        }
    }

}