.filters {
    background: #efefef;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 5%;

    .filter {
        border-right: 1px solid #e0e0e0;
        display: inline-block;
        padding: 20px;
    }

    .label {
        display: block;
        font-size: .8em;
        font-weight: 600;
        margin-bottom: 3px;
    }

    input,
    select,
    textarea {
        border: 1px solid #e0e0e0;
        font-size: .9em;
        padding: 10px;

        &.tiny {
            width: 80px;
        }

        &.small {
            width: 130px;
        }
    }

    input[type='submit'] {
        background: $primary-color;
        border-color: $primary-color;
        color: #fff;
        font-weight: 600;
        @include transition(all .2s linear);

        &:hover {
            background: darken($primary-color, 20%);
            border-color: darken($primary-color, 20%);
        }
    }
}