.form {

    .field {
        margin: 5px 0 20px;

        &.hidden {
            display: none;
        }

        &.separated {
            border-top: 1px solid #dbdbdb;
            margin-top: 25px;
            padding-top: 25px;
        }

        &.centered {
            text-align: center;
        }
    }

    label {
        display: block;
        font-weight: 600;
        font-size: .8em;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    #{$all-text-inputs},
    select {
        background: #fff;
        border: 1px solid #bbb;
        border-radius: 4px;
        padding: 15px 20px;
        width: 100%;
    }

    #{$all-text-inputs-focus},
    select:focus {
        border-color: $primary-color;
        box-shadow: 0 0 3px rgba($primary-color, .75);
        outline: 0;
    }

    input[type='submit'],
    .button {
        background: $primary-color;
        border: 0;
        border-radius: 4px;
        color: #fff;
        font-size: 1em;
        font-weight: 600;
        padding: 10px 20px;
        text-transform: uppercase;
        @include transition(all .2s linear);

        &:hover {
            background: darken($primary-color, 10%);
        }
    }
}
