#histogram-wrapper {
    background: rgba(#000, .2);
    display: table;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    &.hidden {
        display: none;
    }
}

.histogram-wrapper-inside {
    display: table-cell;
    vertical-align: middle;
}

#histogram {
    background: #fff;
    box-shadow: 0 0 5px rgba(#000, .25);
    display: block;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;

    .grid {
        stroke: #ccc;
        stroke-width: 1;
    }

    .bars {
        display: inline-block;
        position: relative;

        rect {
            fill: $primary-color;
            @include transition(all .2s linear);

            &:hover {
                fill: darken($primary-color, 10%);
            }
        }
    }

    .labels {
        .label {
            fill: #777;
            font-size: .8em;
            font-weight: 600;
            text-transform: uppercase;  
        }

        &-x {
            .label {
                text-anchor: middle;
            }
        }

        &-y {
            .label {
                text-anchor: end;
            }
        }
    }
}