.map {
    overflow-x: auto;
    position: relative;
    text-align: center;
    width: 100%;

    img {
        max-width: none;
    }

    canvas {
        opacity: .75;
        left: 50%;
        position: absolute;
        top: 0;

        &.hidden {
            display: none;
        }
    }  

    .loading {
        background: rgba(#000, .5);
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        &-text {
            color: #fff;
            font-weight: $semibold;
            margin: 0;
            padding-top: 70px;
            text-align: center;
        }

        &.hidden {
            display: none;
        }
    }
}
