#session {
    background: #efefef;

    .container {
        display: table;
        min-height: 100vh;
        max-width: 400px;
        margin: 0 auto;
        width: 100%;
    }

    .inside {
        display: table-cell;
        padding: 20px 0;
        vertical-align: middle;
    }

    #content {
        background: #fff;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
        padding: 30px;
    }

    h2 {
        margin: 0 0 20px;
        text-align: center;
    }

    #{$all-text-inputs},
    select {
        font-size: .9em;
        padding: 10px 15px;
    }

    .help {
        border-top: 1px solid #dbdbdb;
        list-style: none;
        margin: 30px 0 0;
        padding: 30px 0 0;

        li {
            font-size: .9em;
            margin-bottom: 3px;
        }

        a {
            color: $primary-color;
            font-weight: $semibold;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }    

}